<div class="comment-area">
  <div class="row">
    <div class="col-sm-12 commenmt-area-height">

      <% @comments.each do |comment| %>
      <div class="row space">
        <div class="col-sm-2">
          <div class="strong text-right">User :</div>
        </div>
        <div class="col-sm-10"><%= comment.user.name %></div>
      </div>

      <div class="row comments-margin">
        <div class="col-sm-2">
          <div class="strong text-right">Comments :</div>
        </div>
        <div class="col-sm-10">
          <%= comment.comment_description %>
        </div>
      </div>
      <% end %>
    </div>



    <%= form_for :comment, :url => comment_path(@issue), :method => :patch do |f| %>
    <div class="row">
      <div class="col-sm-2 tab">
        <div class="strong text-right">Add comments :</div>
      </div>
      <div class="col-sm-10 tab">
      <%= f.text_area :comment_description, :row=>3, :class =>"form-control",:id =>"Description3", :placeholder => "Add comments here ..." %>
      </div>
    </div>

    <div class="comments-buttons">
      <%= f.submit "Comment", :class=>"btn btn-primary ok-btn-padding", id: "comment-btn" %>
      <%= button_tag "Cancel", :class => "btn btn-primary ok-btn-padding",type: :reset %>
    </div>
    <% end %>
  </div>
</div>
