<div class="panel panel-default">
  <div class="panel-heading">
    <b>Type: </b><%= @issue.issue_type.titleize %>
    <span class="pull-right"><b>Date: </b><%= @issue.created_at.strftime("%I:%M %P %b %d") %></span>
  </div>

  <div class="panel-body issue_contenet">
    <p><b>Name: </b><%= @issue.issue_name.titleize %></p>
    <br></br>
    <p><b>Description: </b><%= @issue.description %></p>
    <br></br>
    <% if !@issue.comment.empty? %>
      <p><b>Comment: </b><%= @issue.comment.titleize %></p>
    <% end %>
    <br></br>
    <p><b>Status: </b><%= @issue.status.titleize %></p>
    <br></br>
  </div>

    <hr>
    <% if @issue.user_id == current_user.id %>
      <%= button_to "Edit", edit_issue_path(@issue) ,:method=> :get, remote: true, :class=>"btn btn-primary edit-fix", 'data-toggle' => 'modal', 'data-target'=>'#myCreate'%>
    <% end %>
</div>



