<div class="event-panels">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        <div class="event-title"><span><b>Issuename: </b><%= issue.issue_name.titleize%></div></span>
        <%if issue.user.present?%>
          <div class="organiser">
            <span><b>Username: </b><%= issue.user.name%></span>
          </div>
        <%end%>
        <div class="participants"><%= link_to "Comment", comment_path(issue) %> <span class="status">
        <%if issue.status=="open"%>
        <span class="status_open "><%= issue.status%></span>
        <%else%>
        <span class="status_close"><%= issue.status%></span>
        <%end%>
        </div>
    </div>
  </div>
</div>
